.left{
    float: left;
    width: 60%;
    height: 100vh;
    background-color: bisque;
}
.right{
    float: right;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100vh;
    background-color: #0C1A27;
}
.right-down{
    display: flex;
}
nav{
    height: 20%;
    background-color: #0C1A27;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.grid{
    height: 80%;
    background-color: gray;
}
.nav-box{
    width: 500px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-right: 20px;

}
.nav-up{
    /* display: flex; */
    /* justify-content: flex-end;
    align-items: flex-end; */
    /* margin-bottom: 20px; */
    /* background-color: aquamarine; */
}
.nav-down{
    display: flex;
    /* justify-content: flex-end; */
}
.nav-button{
    width: 80px;
    height: 80px;
    background-color: #2f353d;
    color:#ffffff;
    font-size: 16px;
    cursor: pointer;
    margin-right: 100px ;
    border-radius: 5%;
}
.nav-button:hover{
    background-color: #434950;
  }
.nav-input{
    width: 150px;
    height: 20px;
}
.nav-label{
    color:white;
    margin: 0 20px;
}
.grid-one{
    height: 100%;
}


